@import "palette";
@import "react-responsive-tools-scss";

.AppLayout {
  @include AppPalette();
    color: var(--text-200);
  --def-aside-column-width: 32px; //Размер колонки в асайде
  --def-aside-column-max-width: 300px; //Максимсальный размер колонки и выдвигающегося меню

  --header-height: 50px; //Высота хедера
  --screen-padding: 10px; //Отступы от краев экрана
  --inner-padding: 15px; //Внутренний отступ

  --aside-width: var(--def-aside-column-width); //Текущий размер колонки и асайда


  @include for-lg {
    --def-aside-column-width: 80px;
    --header-height: 55px;
    --inner-padding: 30px;
    --screen-padding: 15px;
  }

  &.widthMode {
    --aside-width: var(--def-aside-column-max-width); //Делаем сайдбар широким
  }

  display: grid;
  width: 100%;
  grid-template-rows: var(--header-height) calc(100vh - var(--header-height));
  grid-template-columns: auto;
  font-family: Roboto, sans-serif;

  @include for-lg {
    grid-template-columns: var(--aside-width) auto;
  }


  .header {
    z-index: 4;
    @include for-lg {
      grid-row: 1;
      grid-column: 2;
    }
  }

  .sidebar {
    grid-column: 1;
    grid-row: 1/3;
    @include before-lg {
      display: none;
    }
  }

  .inner {
    width: 100%;
    max-height: calc(100vh - var(--header-height));
    height: 100%;
    overflow-y: auto;
  }


}

