@mixin AppPaletteDefault(){
  --primary-500:#545A89;
  --primary-400:#6780B3;
  --primary-300:#79A4B8;
  --primary-200:#89BAD1;
  --primary-100:#A7DBEB;

  --accent-100:#feff94;
  --accent-200:#f2c216;

  --warning: #F2C216;
  --error: #D32F2F;
  --info: #6780B3;
  --succes: #119C2B;

}

@mixin AppPaletteLight{
  --text-200:#5C5C5C;
  --text-100:#777;

  --bg-100:#ffffff;
  --bg-200:#f5f5f5;
  --bg-300:#cccccc;
}

// Не используется
@mixin AppPaletteDark{
  --text-200:#5C5C5C;
  --text-100:#fff;

  --bg-300:#142b35;
  --bg-200:#243b45;
  --bg-100:#3d545f;
}

@mixin AppPalette{
  @include AppPaletteDefault();
  @include AppPaletteLight();
}
